@import "modules/warna";
@import "modules/tipografi";

.container-fluid {
    .row {
        .nav {
            background-color: $secondary-color;

            .navbar {
                ul {
                    display: flex;
                    justify-content: space-around;

                    li {
                        flex-direction: row;
                        list-style: none;

                        a {
                            @include text-3;
                            text-decoration: none;
                            color: $white-color
                        }
                    }
                }

            }

            .login {
                form {
                    .tombolLogin {
                        @include text-5;
                        margin-top: 8px;
                        width: 90px;
                        height: 28px;
                        color: $white-color;
                        border: solid $white-color 1px;
                        border-radius: 5px;
                        background-color: transparent;
                        box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                        -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                        -moz-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
                    }
                }
            }

            .login {
                justify-content: right;
                align-items: end;
            }
        }

        .main {
            .judul {
                text-align: center;

                h1 {
                    @include heading-1;
                    color: $primary-color;
                    word-spacing: 5px;
                }
            }

            .row {
                .card {
                    a {
                        text-decoration: none;

                        p {
                            color: $primary-color;
                            @include heading-2;
                        }
                    }
                }
            }
        }

        .footer {
            background-color: $secondary-color;

            .row {
                .col-md-2 {
                    @include text-4;

                    p {
                        padding-left: 4px;
                        color: $white-color;
                    }
                }

                .col-md-3 {
                    text-align: right;

                    p {
                        @include text-4;
                        color: $white-color;
                        line-height: 1px;
                    }

                    a {
                        color: $white-color;
                        text-decoration: none;

                        i {
                            font-size: large;
                        }
                    }
                }
            }
        }
    }
}